.btn-group1 {
  margin: auto;
  color:white;
  border: 0px;
  display: block;
  background-color: #3694E7;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  position: center;
}
a:hover {
    background-color: #1360A4;
  }
#rock {

  margin: auto;
  height: auto;
  width: 300px;
  position: center;
  max-width: 300px;
  display: block;
}

#texttop {
	color: #fff;
	width: 30%;
  margin: auto;
	padding: 2rem;
	border: 4px double rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.3);
  text-align: center;
}
form {
  colour: white;
}

p {
   line-height: 1.6;
   color: white;
  }
  .box .btn-group1 {
  width: 150px;
  }
