h1 {
  padding-left: 50px;

}
a {
  padding: 20px;

}
img:hover {
  opacity: 0.5;
}
.asia {
max-height: 200px;
padding-bottom:20px;
}
article {
  background-position: center;
  padding-right:100px;
}
