* {
  background-color: lightgrey;
  font-family: verdana;
  margin: 0px;

}
h1 {
  text-align: center;
  font-family: verdana;
  font-size: 50px;
  background-color: #6E4079;
  color: #E6E3E6;
  padding: 80px 40px 40px;
}
p {
  color: #4A464B;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8D7E91;
    position: fixed;
    top: 0;
    width: 100%;
    align: center;
    text-align: center;

}
li {
  display: inline;
}
.navigation {
    display: inline-block;
    padding: 20px;
    background-color: #8D7E91;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: #6E5A73;
  }
article {
  width:500px;
  padding: 40px;
  margin: 0 auto;
}
